                                        SOMMAI

------------------------VARIABLES------------------------------------

- Cree une variable
- Afficher
- Changer sa valeur

- Re affectation (incrementation)
- Cree une 2eme var

- Operations arithmetiques
- Operations comparatives

- Les commentaires

- Operations de logiques 

- Les types "string"

- Cree 2 var dans la meme ligne

-----------------------FONCTION----------------------------------
- De type mathematique : lambda

- De type fonctionnalite : def 
    - definir la fonction 
    - appeler la fonction
    - notion variable interne
    - notion de keys words
    - notion de return

# VARIABLES

In [1]:
#cree
x = 2

In [2]:
#afficher
print(x)

2

In [4]:
#changer
x= 2.4
print(x)

2.4

In [5]:
#incrementer
x = x + 5
print(x)

7.4

In [6]:
x+=1
#x-=1
print(x)

8.4

In [7]:
# 2eme variable
y = 4.8

### OPERATIONS ARITHMETIQUES

In [11]:
print(x+y)
print(x-y)
print('produit ==> ',x*y)
print('puissance ==> ',x**y)
print(x/y)
print('modulo ==>',x%y)

13.2
3.6000000000000005
produit ==>  40.32
puissance ==>  27323.766988062496
1.7500000000000002
modulo ==> 3.6000000000000005

### OPERATIONS COMPARATIVES

In [12]:
print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)

False
True
True
False
False
True

### COMMMENTAIRES et HELP

In [13]:
# Ceci est un commentaire en une seule ligne


"""ceci
est un commentaire 
en plusieurs lignes"""

'ceci\nest un commentaire \nen plusieurs lignes'

In [14]:
# manuel de la fonction print
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [15]:
print?

### OPERATIONS DE LOGIQUES

In [20]:
print(False | True) #OR
print(False & True) #AND

True
False

### TYPE STRING

In [21]:
name = "Dina"
print(name)

Dina

In [22]:
for i in name:
    print(i)

D
i
n
a

In [24]:
print(name[1])

i

In [25]:
print(name[0:2])

Di

In [32]:
print(name[-1])

a

In [41]:
#quelques methodes sur les strings
mot = "Hello, word!"
print(mot.upper())
print(mot.lower())
print(mot.strip())
print(mot.replace("e","j"))
print(mot.split(','))

HELLO, WORD!
hello, word!
Hello, word!
Hjllo, word!
['Hello', ' word!']

In [45]:
# d'autres methodes ici : 
# https://www.w3schools.com/python/python_strings_methods.asp

In [43]:
#concatener deux string
print("my name is "+name)

#format
print("my name is {}".format(name))

my name is Dina
my name is Dina

In [46]:
# cree deux variable sur la meme ligne
a, b = 2, 4
print(a)
print(b)

2
4

## FONCTIONS

In [47]:
# En math  lambda arg : expression 
f = lambda x : x**2

print(f(4))

16

In [48]:
f = lambda x,y : x**2 + 4*y + 10

print(f(2,3))

26

In [50]:
# de type fonctionnalite

#definir
def imc (poid, taille):
    return poid/taille**2

#appeler 
imc(60, 1.75)

19.591836734693878

In [ ]:
print(poid) #name 'poid' is not defined

#car poid est une variaable interne